*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro{
    /* position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex; */

        width: 100%;
        height:100vh;
        background: #fff;
   }

.logo{

      position: absolute;  
      top: 0;
      left: 0;  
      size: 10px;




}   

.intro header{
    position: absolute;
    /* top: 0 ;
    left: 0; */
    width: 20%;
    height: auto;
    /* padding: 40px 100px; */
    /* align-items: center; */
    display: flex;
    z-index: 1000;
    justify-content: space-between;
}
.intro header img{
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    
    background-position: center;
    opacity: 2;
    z-index: 2;
}
.inro header ul li{
    display: flex;
    align-items: center;
    margin: 20px;
}


.intro video{
    /* position: absolute;*/
    /* top: 0;
    left: 0;  */
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    align-items: center;
    /* margin-left:20px ; */
    /* margin-top: 50px; */
    
    /* opacity: 0.8%; */

}   


.footer{

        height:30vh;
        background-color: black;
        opacity: 0.8;
        color: white;

}
.text{
    position: absolute;
    z-index: 10;
    margin-top: 300px;
    margin-left: 650px;
     
}
.text a{
    display: inline-block;
        font-size: 1em;
        background: rgb(241, 16, 16);
        padding: 10px 30px;
        text-decoration: none;
        color: black;
        margin-top: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.5s;
        opacity: 0.6;
}
.text a:hover{
    letter-spacing: 6px;
    opacity: 1;
    color: white;
}
.footer ul {

    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    
    /* justify-content: center;*/
}
.footer ul a{
    color: rgb(88, 77, 25);
    text-decoration: none;
    font-weight: bold;
    margin-top: 20%;
    font-size: 1em;
   
}
.footer ul a:hover{

        
        background-color: rgb(241, 231, 91);
        transition: 0.5s;
        border: 1px dashed black;

}

.footer h3{

       margin:auto;
       margin-left: 45%;
       margin-top: 1%;
       font-size: 1em; 
       align-items: center; 
       justify-items: center;
       opacity: 0.7;
}


/* social media icon */
.contact ul{
    position: relative;
    /* top: 300%; */
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 30px;
    /* margin-left: 0;     */
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
}
.contact ul li{

    list-style: none;

}
.contact ul li a{
    position:relative;
    width:60px;
    height:60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg,#ddd,#fff);
    transition: .5s;
}

.contact ul li a:hover{
    box-shadow: 0 20x 5px rgba(0,0,0,0.3);
    text-decoration: none;
}
.contact ul li:nth-child(1) a:hover .fab{
    color: #3b5998;

}
.contact ul li:nth-child(2) a:hover .fab{
    color: #6ba6ff;

}
.contact ul li:nth-child(3) a:hover .fab{
    color: #e04343;

}
.contact ul li:nth-child(4) a:hover .fab{
    color: #3b5998;

}
.contact ul li:nth-child(5) a:hover .fab{
    color: #ff40df;

}
.contact ul li a .fab{
    width:100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg,#fff,#ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;


}
@media(max-width: 900px)
{

    .contact ul{
        position: relative;
        /* top: 300%; */
        left: 0%;
        transform: translate(-50%,-50%);
        margin-top: 70px;
         margin-left: 140px;     
        padding-top: 50px;
        /* padding-left: 90px; */
        display: flex;
    }




}




/* Chandler page */


.chandler{

        height: 100vh;
        width: 100%;





}

.profile{

    display: flex;

}

.profile img{


        height: 80vh;

        margin: 5%;

}
.profile h2{

    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 2em;
    margin-top:30%;
}
.profile p{
    
    margin-top:50%;
    margin-right: 30%;

    justify-content: start;
}




